{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}

  {% block contenido %}

      {#<form name="formBusqueda" action="{{ path('JAMAB_buscar') }}" method="POST">#}

          {#<table>#}
              {#<tr>#}
                  {#<td>nombre alimento:</td>#}
                  {#<td>#}
                      {#<input type="text" name="nombre"#}
                             {#value="{{ nombre }}">(puedes utilizar '%' como comodín)#}
                  {#</td>#}

                  {#<td><input type="submit" value="buscar"></td>#}
              {#</tr>#}
          {#</table>#}

          {#</table>#}

      {#</form>#}

      {% for flashMessage in app.session.flashbag.get('mensaje') %}
          <div style="background-color: rosybrown">
              <b>{{ flashMessage }}</b>
          </div>
      {% endfor %}

      <form action="{{ path('JAMAB_buscar') }}" method="post" {{ form_enctype(form) }}>
          <label>Nombre: {{ form_widget(form.nombre) }}</label>
          {{ form_widget(form._token) }}
          <input type="submit" value="Buscar" />
      </form>

      <br>
      <br>

      {% if alimentos %}
          {% include 'JazzywebAulasMentorAlimentosBundle:Default:_tablaAlimentos.html.twig'
          with {'alimentos': alimentos} %}
      {% endif %}

  {% endblock %}