{% extends 'JazzywebAulasMentorAlimentosBundle::layout.html.twig' %}

  {% block contenido %}

      {#<form name="formBusqueda" action="{{ path('JAMAB_buscarEnergia') }}" method="POST">#}

          {#<table>#}
              {#<tr>#}
                  {#<td>energía alimento:</td>#}
                  {#<td>#}
                      {#<input type="text" name="energia"#}
                             {#value="{{ energia }}">(puedes utilizar '%' como comodín)#}
                  {#</td>#}

                  {#<td><input type="submit" value="buscar"></td>#}
              {#</tr>#}
          {#</table>#}

          {#</table>#}

      {#</form>#}

      <form action="{{ path('JAMAB_buscarEnergia') }}" method="post" {{ form_enctype(form) }}>
          <label>Energía: {{ form_widget(form.energia) }}</label>
          {{ form_widget(form._token) }}
          <input type="submit" value="Buscar" />
      </form>

      <br>
      <br>

      {% if alimentos %}
          {% include 'JazzywebAulasMentorAlimentosBundle:Default:_tablaAlimentos.html.twig'
          with {'alimentos': alimentos} %}
      {% endif %}

  {% endblock %}